@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    /* background-image: url("https://cdn.dribbble.com/users/4721099/screenshots/17850675/media/32ca7ef12dec272972aafe965b95b334.jpg"); */
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: cover;
    animation-name: home-animation;
    animation-duration: .5s;
}

@keyframes home-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.quiz{
    /* background-image: url("https://cdn.dribbble.com/users/4721099/screenshots/17850675/media/32ca7ef12dec272972aafe965b95b334.jpg"); */
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: cover;
    animation-name: quiz-animation;
    animation-duration: .5s;
}
@keyframes quiz-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.result{
    /* background-image: url("https://cdn.dribbble.com/users/4721099/screenshots/17850675/media/32ca7ef12dec272972aafe965b95b334.jpg"); */
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: cover;
    animation-name: result-animation;
    animation-duration: .5s;
}
@keyframes result-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.sub{
    transition: all 0.1s linear;
}
.sub:hover{
    scale: 1.04;
}
.ans{
    transition: all 0.1s linear;
}
.ans:hover{
    scale: 1.04;
}

.play{
    transition: all 0.1s linear;
}
.play:hover{
    scale: 1.04;
}
